<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Liste de Personnes</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
   	  <header>
   	  		<div id= "img"><img id="logo" src="images/logo.jpg" alt="[logo d'Innso]"/></div>
      		<h1>Liste des Utilisateurs</h1>
      </header>
      <a th:href="@{/addPerson}">Ajouter un Utilisateur</a>
      <br/><br/>
      <div>
         <table border="1">
            <tr>
<!--                <th>N°</th> -->
			   <th>Nombre d'utilisateurs</th>
               <th>Prénom</th>
               <th>Nom</th>
               <th>Date de Naissance</th>
               <th>Modifier</th>
               <th>Supprimer</th>
            </tr>
            <th:block th:each="person, stats : ${list}">
   				<tr>
<!--    					<td th:utext="${person.count}">No</td> -->
					<td th:text="${stats.index + 1}" th:value="index">...</td>
   					<td th:utext="${person.firstName}">...</td>
               		<td th:utext="${person.lastName}">...</td>
               		<td th:text="${#temporals.format(person.birthDate,'dd-MM-yyyy')}">...</td>
    				 
	               <td><a th:href="@{/updatePerson/{id}(id=${person.id})}">
	         			 	<span>
	         			 		<img src="https://img.icons8.com/clouds/40/000000/edit.png">
	         			 	</span>
	         			</a></td>
	               <td> 
	               	<form th:action="@{/deletePerson}" th:method="POST">             	 	
	               		<input type = "hidden" name = "firstName" th:value = "${person.firstName}" />
	               		<input type = "hidden" name = "lastName" th:value = "${person.lastName}" />
	               		<input type = "hidden" name = "id" th:value = "${person.id}" />
	               		<input type = "hidden" name = "birthDate" th:value = "${person.birthDate}" />
	         			<button type = "submit" >
	         			 	<span>
	         			 		<img src="https://img.icons8.com/metro/26/000000/delete.png" />
	         			 	</span>
	         			</button>
	      			</form> 
	               </td>
            	</tr>
          	</th:block>
         </table>
      </div>
      <br>
      <div>
      	<form th:action="@{/exportToWordToPDF}" th:method="POST">
      		<button type="submit">Convertir en PDF</button> 				
      	</form>
      </div>

      
   </body>
</html>